*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

html,
body{
    width: 100%;
    height: 100%;
    background-color: rgb(228, 222, 222);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
    ul{
        display: flex;
        gap: 0.5rem;

        li{
            list-style: none;
        }
    }
}

 