* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(228, 222, 222);
}

html {
    font-size: clamp(14px, 1vw + 10px, 100px);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    ul {
        display: flex;
        gap: 0.5rem;

        li {
            list-style: none;
        }
    }
}

section {
    h1 {
        font-size: 4.7rem;
        text-transform: uppercase;
        text-align: center;
    }

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0px 2px;
        margin: 10px 0px;

        .card {
            width: 10.5rem;
            position: relative;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .bottom {
                background: linear-gradient(transparent, black);
                height: 20%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0px 5px;
                align-items: center;
                transition: all 0.3s ease-out;
                position: absolute;
                bottom: -20%;

                i {
                    color: white;
                }
            }
        }

        .card:hover .bottom {
            bottom: 0px;
        }

    }

    aside{
        display: flex;
        padding: 10px;
        gap: 5px;
        div{
            h3{
                font-size: 2rem;
                margin-bottom: 6px;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }

}